<% content_for(:title) do %>
 <%= get_page_title %>
<% end %>

<div class="row">
  
  <div class="col-lg-4 col-lg-push-8">
    <div class="panel side-panel">
      <div class="panel-heading resto-panel-heading">
        <div class="panel-title">
          <h2 class="sidebar-title"><%= get_page_title %></h2>
        </div>
      </div>
    
      <div class="panel-body">
        <ul>
          <% @restaurants.each do |resto| %>
            <li>
              <%= link_to resto.name, resto %>
              (<%= link_to resto.cuisine, 
                   cuisine_restaurants_path(resto.cuisine.downcase) %>)
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>  <!-- col-lg-4 -->
  
  <div class="col-lg-8 col-lg-pull-4">

  <% @restaurants.each do |resto| %>
  <div class="panel resto-panel">
    <div class="panel-heading resto-panel-heading">
      <div class="panel-title">
        <h2 class="resto-title">
          <%= link_to resto.name, resto, class: "resto-title-link" %>
        </h2>
      </div>
    </div>
    <div class="panel-body restaurant-info">
      <strong>Address: </strong><%= resto.address %><br />
      <strong>Telephone number: </strong><%= resto.telephone_number %><br />
      <strong>Cuisine: </strong><%= resto.cuisine %><br />
      
      <br />
      <span class="glyphicon glyphicon-star resto-star" aria-hidden="true"></span>
        <%= resto.stars_count %><br />
    </div>
  </div>
  
  <% end %>

  <% if pagination_shown? %>
    <div class="resto_pagination">
      <%= will_paginate @restaurants %>
    </div>
  <% end %>
  
  </div>  <!-- col-lg-8 -->
  
</div>    