<% content_for(:title) do %>
 <%= get_page_title %>
<% end %>

<% @restaurants.each do |resto| %>
  <h3><%= link_to resto.name, resto %></h3>
  <p>
    <strong><%= resto.address %></strong><br />
    <strong><%= resto.telephone_number %></strong><br />
    <strong><%= resto.cuisine %></strong><br />
  </p>
<% end %>