<% content_for(:title) do %>
  <%= @restaurant.name %>
<% end %>

<div class="row">
    <div class="col-lg-8">

<div class="panel resto-panel">
  <div class="panel-heading resto-panel-heading">
    <div class="panel-title">
      <h2 class="resto-title"><%= @restaurant.name %>
      </h2>
    </div>
  </div>
  <div class="panel-body restaurant-info">
    <strong>Address: </strong><%= @restaurant.address %><br />
    <strong>Telephone number: </strong><%= @restaurant.telephone_number %><br />
    <strong>Cuisine: </strong><%= @restaurant.cuisine %><br />
    
    <br />
    <span class="glyphicon glyphicon-star resto-star" aria-hidden="true"></span>
    <%= @restaurant.starring_users.size %> <br />
    
    <% if user_signed_in? %>
      <% if current_user.starred_restaurants.include?(@restaurant) %>
        <%= link_to unstar_restaurant_path(@restaurant), method: :delete,
              class: "btn-sm btn-success", id: 'btn-take-star' do %>
          Take <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <% end %>
        
      <% else %>
        <%= link_to star_restaurant_path(@restaurant), method: :patch,
              class: "btn-sm btn-success", id: 'btn-give-star' do %>
          Give <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <% end %>
        
      <% end %>
    <% end %>
  </div>
  
  <% if user_submitted_restaurant?(@restaurant) %>
    <div class="panel-footer">
      <%= link_to "Edit Restaurant", edit_restaurant_path(@restaurant),
            class: "btn btn-primary" %>
      <%= link_to "Delete Restaurant", @restaurant, method: :delete,
            class: "btn btn-danger",
            data: { confirm:  "Are you sure you want to delete this restaurant?" } %>
    </div>
  <% end %>
  
</div>

      
  </div>  
</div>        
        