<h3><%= @restaurant.name %></h3>
<p>
    <strong><%= @restaurant.address %></strong><br />
    <strong><%= @restaurant.telephone_number %></strong><br />
    <strong><%= @restaurant.cuisine %></strong><br />
</p>

<p>
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
  <%= @restaurant.starring_users.size %> <br />
  
  <% if user_signed_in? %>
    <% if current_user.starred_restaurants.include?(@restaurant) %>
      <%= link_to unstar_restaurant_path(@restaurant), method: :delete,
            class: "btn-sm btn-success" do %>
        Take <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <% end %>
      
    <% else %>
      <%= link_to star_restaurant_path(@restaurant), method: :patch,
            class: "btn-sm btn-success" do %>
        Give <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <% end %>
      
    <% end %>
  <% end %>
</p>


<% if user_submitted_restaurant?(@restaurant) %>
  <%= link_to "Edit Restaurant", edit_restaurant_path(@restaurant) %> <br />
  <%= link_to "Delete Restaurant", @restaurant, method: :delete,
      data: { confirm:  "Are you sure you want to delete this restaurant?" } %>
<% end %>
        