<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Kainan App", root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= get_active_if_current(root_path) %>">
          <%= link_to "Home", root_path %>
        </li>
        <li class="<%= get_active_if_current(random_restaurants_path) %>">
          <%= link_to "Random", random_restaurants_path %>
        </li>
        
        <li class="<%= get_active_for_cuisine %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
             role="button" aria-haspopup="true" aria-expanded="false">
             Cuisines <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "Filipino", cuisine_restaurants_path('filipino') %>
            </li>
            <li>
              <%= link_to "Chinese", cuisine_restaurants_path('chinese') %>
            </li>
            <li>
              <%= link_to "American", cuisine_restaurants_path('american') %>
            </li>
            <li>
              <%= link_to "Korean", cuisine_restaurants_path('korean') %>
            </li>
            <li>
              <%= link_to "Fastfood", cuisine_restaurants_path('fastfood') %>
            </li>
          </ul>
        </li>
        
        <li class="<%= get_active_if_current(most_popular_restaurants_path) %>">
          <%= link_to "Most Popular", most_popular_restaurants_path %>
        </li>
        
        <% if user_signed_in? %>
          <li class="<%= get_active_if_current(starred_restaurants_path) %>">
            <%= link_to "Starred Restaurants", starred_restaurants_path %>
          </li>
        <% end %>
      </ul>
      
       <% if user_signed_in? %>
          <span class="navbar-right">
          <%= link_to "Add Restaurant", new_restaurant_path, 
                  class: "btn btn-success navbar-btn navbtn-top" %>      
              
          <%= link_to "Log Out", destroy_user_session_path, method: :delete,
                  class: "btn btn-primary navbar-btn navbtn-top" %>
          </span>
        <% else %>
          <span class="navbar-right">
            <%= link_to "Log In", new_user_session_path, 
                        class: "btn btn-success navbar-btn" %>
            <%= link_to "Sign Up", new_user_registration_path,
                        class: "btn btn-primary navbar-btn navbtn-top" %>
          </span>
        <% end %>
      
    </div>
  </div>
</nav>